.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  width: 250px;
  border-radius: 33px;
  padding: 20px;
  margin: 20px;
  flex-wrap: wrap;
  align-items: center;
}
